.App {
    max-width: 1200px;
    margin: 0 auto;
    
    .title {
        text-decoration: underline;
    }
    
    .charts-wrapper {
        display: flex;
        width: auto;
        align-content: center;
        flex-wrap: nowrap;
        margin: 0 auto;
        column-gap: 10px;
    }

    .btn-wrapper {
        display: flex;
        align-content: center;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        min-height: 50px;

        .btn {
            cursor: pointer;
        }
    }
}
